<%= if Enum.any?(@files) do %>
  <table class="table">
    <thead>
      <tr>
        <th>Files</th>
      </tr>
    </thead>
    <tbody>
      <%= for file <- @files do %>
        <%= file_row(@conn, file) %>
      <% end %>
    </tbody>
  </table>
<% end %>
