<%= if Enum.any?(@files) do %>
  <table class="table">
    <thead>
      <tr>
        <th>Files</th>
      </tr>
    </thead>
    <tbody>
      <%= for file <- @files do %>
        <tr>
          <td>
            <strong><%= file_link(@conn, file) %></strong>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
