<div>
  <%= link "Edit", to: assemblage_path(@conn, :edit, @conn.assigns[:assemblage].id) %>
</div>

<%= render @view_module, "#{@conn.assigns[:assemblage].kind}.html", conn: @conn, assemblage: @conn.assigns[:assemblage] %>
